# {{ ansible_managed }}
# ansibleguy.infra_mariadb

[mysqld]
datadir = {{ path_data }}
basedir = {{ MARIADB_CONFIG.config.path_base }}
pid-file = {{ MARIADB_CONFIG.config.path_run }}/mysqld_{{ name }}.pid
socket = {{ socket }}
lc_messages_dir = {{ MARIADB_CONFIG.config.path_lc }}
port = {{ mariadb_port }}

{% if instance.ssl %}
# ssl config
ssl_ca = {{ MARIADB_CONFIG.config.path_ssl }}/{{ name }}/ca.pem
ssl_cert = {{ MARIADB_CONFIG.config.path_ssl }}/{{ name }}/cert.pem
ssl_key = {{ MARIADB_CONFIG.config.path_ssl }}/{{ name }}/key.pem
{% endif %}

# settings
{% for setting, value in instance.settings.items() %}
{%   if setting not in mariadb_settings_graylist %}
{{ setting }}{% if value != '' and value is not none %} = {{ value }}{% endif %}

{%   endif %}
{% endfor %}

