# {{ ansible_managed }}
# ansibleguy.infra_mariadb

# NOTE:
#   restore: xzcat /var/backups/mysql/{{ name }}_{DATETIME}.sql.xz | mysql

[Unit]
Description=Service to create a local backup of the mariadb instance {{ name }}
Documentation=https://github.com/ansibleguy/infra_mariadb
Requires=mariadb@{{ name }}.service
ConditionPathExists={{ MARIADB_CONFIG.config.path_config }}/client_{{ name }}_backup.cnf
ConditionPathExists={{ path_backup }}
ConditionPathExists={{ socket }}

[Service]
Type=simple
User={{ instance.settings.user }}
Group={{ instance.settings.group }}
ExecStart=/usr/local/sbin/backup_mariadb_{{ name }}.sh
{% if ansible_distribution_version == '10' %}
StandardOutput=syslog
StandardError=syslog
{% else %}
StandardOutput=journal
StandardError=journal
{% endif %}
SyslogIdentifier=mariadb_backup_{{ name }}
